<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Email Confirmation</title>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top" bgcolor="#DBF9F7" style="background-color: #DBF9F7;">
                <br>
                <br>
                <table width="600" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="70" align="left" valign="middle"></td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" bgcolor="#7C8FF5" style="background-color: #7C8FF5; font-family: Arial, Helvetica, sans-serif; padding: 10px;">
                            <div style="font-size:36px; color:#ffffff;">
                                <b>Email Confirmation</b>
                            </div>
                            <div style="font-size:13px; color:#ffffff;">
                                <b>ChatHouse Team</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle" style="padding:10px; color:#7C8FF5; font-size:28px; font-family:Georgia, 'Times New Roman', Times, serif;">
                                        Congratulations!
                                    </td>
                                </tr>
                            </table>

                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="left" valign="middle" style="color:#525252; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                                        <div style="font-size:16px;">
                                            Dear {0},
                                        </div>
                                        <br />
                                        <div style="font-size:13px;">
                                            Thank you for joining ChatHouse Team!
                                            All you need to do is to click the button below to confirm your email address!
                                            if you have not registered in our website, just ignore this email.
                                            <center>
                                                <br />
                                                <button type="button" title="Confirm Account Registration" style="background: #7c8ff5">
                                                    <a href="{1}" style="font-size:22px; padding: 10px; color: #ffffff">
                                                        Confirm Email Now
                                                    </a>
                                                </button>
                                            </center>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="left" valign="middle" style="color:#525252; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                                        <div style="font-size:13px; color:#564319;">
                                            Please keep your credentials for future use.
                                        </div>
                                        <div style="font-size:13px; color:#525252;">
                                            <b>Email : </b> {2}
                                            <br />
                                            <b>Username : </b> {3}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <hr />
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="50%" align="left" valign="middle" style="color:#564319; font-size:11px; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                                        <b>Support:</b> <a href="mailto: ChatHouse.SAM@gmail.com" style="color:#564319; text-decoration:none;">ChatHouse Team</a>
                                        <br>
                                        <b>URL: </b> <a href="#" target="_blank" style="color:#564319; text-decoration:none;">ChatHouse.com</a>
                                    </td>
                                </tr>
                            </table>
                            <br />
                        </td>
                    </tr>
                </table>
                <br>
                <br>
            </td>
        </tr>
    </table>
</body>
</html>   